.banner {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  color: white;
}

.banner-contents {
  padding: 20px 5%;
}

.banner-title {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
}

.banner-description {
  width: 100%;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 600;
}

.inner-search-form {
  display: flex;
}

.input-text {
  width: 100%;
  height: 46px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.input-submit {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  height: 48px;
  padding: 10px 26px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  position: absolute;
  right: 40px;
}